body {
    background: #8bcbf3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    margin: 30px;
}

p {
    text-align: center;
}
.navbar {
    background: #125681;
    padding: 10px;
    text-align: right;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card {
    background: #3a98ce;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
